.h2o-header{
  width: 100%;
  padding: 0 0 10px;
  position: fixed;
  top: 0;
  z-index: 80;

 
  &.sticky {
    
    .h2o-logo{
      &::before{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-150%);
      }

      &__scroll{
        transform: translateY(-50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__box{
    display: grid;
    align-items: center;
    position: relative;

    &::before, &::after{
      content: "";
      position: absolute;
      top: 0;
      background: url(../img/index/bg-header.png) 100% -2px no-repeat;
      background-size: cover;
      z-index: -2;
      pointer-events: none;

      @include for-mobile{
        height: 96px;
        width: calc(50% + 40px);
      }

      @include mobile{
        height: 140px;
        width: calc(60% + 40px);
      }
  }

  &::before{
    @include for-mobile{
      right: calc(clamp(39px, 3.077vw, 40px) * -1);
    }
    @include mobile{
      right: -60px;
    }
  }

  &::after{
      transform: rotateY(180deg);

      @include for-mobile{
        left: calc(clamp(39px, 3.077vw, 40px) * -1);
      }

      @include mobile{
        left: -60px;
      }
  }

  @include for-tablet{
    grid-template-columns: auto 1fr auto;
    justify-items: center;
  }

  @include tablet{
    grid-template-columns: repeat(2, auto) 1fr;
    justify-items: end;

      .h2o-main-nav{
        display: none;
      }

  }

  @include for-mobile{
    height: 62px;
    padding:0 18px;
    grid-gap: clamp(10px, 1.7699vw, 20px);
  }

  @include mobile{
    padding: 15px 18px 10px;
    grid-template-columns: 100%;
    grid-gap: 15px;
    height: fit-content;
  }

  }

  &__btns{
    grid-gap: clamp(10px, 1.1504vw, 13px);

    .h2o-main-button{
      min-width: clamp(200px, 18.963vw, 256px);
      font-size: clamp(14px, 1.185vw, 16px);
      width: fit-content;
      padding: 0 10px;
      &--blue{
        @include for-small-tablet{
          min-width: clamp(80px, 7.385vw, 96px);
        }
        @include small-tablet{
          min-width: clamp(60px, 8.4956vw, 96px);
        }
      }

      @include mobile{
        width: 100%;
        max-width: 100%;
      }
      
    }

    @include for-mobile{
      display: flex;
      align-items: center;
    }

    @include mobile{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .h2o-burger{
    @include burger;

    @include for-tablet{
      display: none;
    }

    @include mobile{
      justify-self: start;
    }
  }

  .h2o-logo{
    @include mobile{
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 105px;
      height: 50px;

      &::before{
        display: none;
      }
      &__scroll{
        transform: translateY(-50%);
        opacity: 1;
        visibility: visible;
      }
    }
  } 
}



