.h2o-header{
  width: 100%;
  padding: 0 0 10px;
  position: fixed;
  top: 0;
  z-index: 80;

 
  &.sticky {
    
    .h2o-logo{
      &::before{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-150%);
      }

      &__scroll{
        transform: translateY(-50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__box{
    height: 62px;
    display: grid;
    align-items: center;
    grid-gap: clamp(10px, 1.7699vw, 20px);
    position: relative;
    padding:0 18px;

    &::before, &::after{
      content: "";
      height: 96px;
      width: calc(50% + 40px);
      position: absolute;
      top: 0;
      background: url(../img/index/bg-header.png) 100% -2px no-repeat;
      background-size: cover;
      z-index: -2;
      pointer-events: none;
  }

  &::before{
    right: calc(clamp(39px, 3.077vw, 40px) * -1);
  }

  &::after{
      left: calc(clamp(39px, 3.077vw, 40px) * -1);
      transform: rotateY(180deg);
  }

  @include for-tablet{
    grid-template-columns: auto 1fr auto;
    justify-items: center;
  }

  @include tablet{
    grid-template-columns: repeat(2, auto) 1fr;
    justify-items: end;

      .h2o-main-nav{
        display: none;
      }

  }
  }

  &__btns{
    display: flex;
    align-items: center;
    grid-gap: clamp(10px, 1.1504vw, 13px);

    .h2o-main-button{
      min-width: clamp(200px, 18.963vw, 256px);
      font-size: clamp(14px, 1.185vw, 16px);
      width: fit-content;
      padding: 0 10px;
      &--blue{
       

        @include for-small-tablet{
          min-width: clamp(80px, 7.385vw, 96px);
        }
        @include small-tablet{
          min-width: clamp(60px, 8.4956vw, 96px);
        }
      }

      @include mobile{
        &:not(.h2o-main-button--blue){
          display: none
        }
      }
    }

    
  }

  .h2o-burger{
    @include burger;

    @include for-tablet{
      display: none;
    }
  }

 
}



