<footer>
  <div class="h2o-container">
    <div class="h2o-footer">
      <div class="h2o-footer__box">
        <ul class="h2o-footer-links">
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-go"><i class="h2o-icon-visa"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-go"><i class="h2o-icon-mc"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-go"><i class="h2o-icon-maestro"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-go"><i class="h2o-icon-cirrus"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-go"><i class="h2o-icon-mir"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-go"><i class="h2o-icon-sbp"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-go"><i class="h2o-icon-usdt"></i></button>
          </li>
        </ul>

        <div class="h2o-footer__nav">
          <ul class="h2o-footer__list">
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">О нас</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Новости</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Зал славы</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Правила и условия</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Джекпот</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Магазин</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">FAQ</a></li>
          </ul>
          <ul class="h2o-footer__list">
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Антиблокировка</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Мобильное приложение</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Партнерская программа</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Обратная связь</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Игра на раздевание</a></li>
            <li class="h2o-footer__item"><button class="h2o-footer__link h2o-go">Привилегии</a></li>
          </ul>
        </div>
      </div>
 
      <div class="h2o-footer__bottom">
        <button class="h2o-footer__contact h2o-go">
          <i class="h2o-icon-mail"></i>
          support@club-vulkan.com
        </button>

        <p class="h2o-footer__copy">
          © 2012-2024<br>
          «Club-Vulkan»
        </p>

        <div class="h2o-footer__icons">
          <button class="h2o-footer__wp h2o-go">
            <i class="h2o-icon-wp"></i>
          </button>
          <span class="h2o-footer__icon"><i class="h2o-icon-age"></i></span>
        </div>

      </div>
    </div>
  </div>
</footer>