<header class="h2o-header">
  <div class="h2o-container">
    <div class="h2o-header__box">
      <button class="h2o-burger">
        <span class="h2o-burger__line"></span>
      </button>
      <a href="index.html" class="h2o-logo">
        <span class="h2o-logo__scroll h2o-icon-scroll"></span>
      </a>

      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Сундуки
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Игровой Зал
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Турниры

          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Лотереи
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Магазин
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Календарь
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Акции
          </a>
        </li>
      </ul>

      <div class="h2o-header__btns">
        <button class="h2o-main-button h2o-go">Регистрация за 10 секунд</button>
        <button class="h2o-main-button h2o-main-button--blue h2o-go">Вход</button>
      </div>
    </div>

    <div class="h2o-mobile-menu">
      <div class="h2o-mobile-menu__top">
        <a href="index.html" class="h2o-logo">
          <span class="h2o-logo__scroll h2o-icon-scroll"></span>
        </a>
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
      </div>
      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Сундуки
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Игровой Зал
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Турниры

          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Лотереи
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Магазин
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Календарь
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Акции
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>