.h2o-main-button {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  max-width: 240px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s linear;
  border-radius: 4px;
  font-weight: 400;
  font-family: var(--font-family);
  color: rgba(var(--cl-a), 1);
  font-size: 13px;
  line-height: 18px;
  background-color: rgba(var(--bg-c), 1);
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background: var(--gr-g);
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    transition: 0.2s linear;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(var(--bg-e), 1);
  }

  &--blue {
    background-color: rgba(var(--bg-f), 1);
    &::before {
      background: var(--gr-f);
    }

    &:hover {
      background-color: rgba(var(--bg-f), 1);
      &::before {
        opacity: 0;
      }
    }
  }
}

.h2o-white-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  border: 1px solid var(--br-f);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.15s linear;
  background: rgba(var(--bg-b), 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-weight: 400;
  height: 34px;
  font-size: 14px;
  line-height: 32px;
  color: rgba(var(--cl-a), 1);
  transition: all 0.4s;
  font-family: var(--font-family);
  &:hover {
    background: rgba(var(--bg-a), 0.1);
  }
}
