.h2o-icon {
  &-mail {
    width: 12px;
    height: 12px;
    display: block;
    background-image: url(../img/sprite/mail.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-scroll {
    width: 105px;
    height: 50px;
    display: block;
    background-image: url(../img/logo-scroll.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-filter {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../img/sprite/filter.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-search {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../img/sprite/search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-spike {
    width: 6px;
    height: 6px;
    display: block;
    background-image: url(../img/sprite/ellipse.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-popular {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../img/sprite/popular.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-wp {
    width: 96px;
    height: 32px;
    display: block;
    background-image: url(../img/sprite/wp.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-age {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../img/sprite/age.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-visa {
    width: clamp(62px, 15.972vw, 92px);
    height: clamp(28px, 5.556vw, 32px);
    display: block;
    background-image: url(../img/sprite/visa.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-mc {
    width: clamp(62px, 15.972vw, 92px);
    height: clamp(28px, 5.556vw, 32px);
    display: block;
    background-image: url(../img/sprite/mc.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  
  &-maestro {
    width: clamp(62px, 15.972vw, 92px);
    height: clamp(28px, 5.556vw, 32px);
    display: block;
    background-image: url(../img/sprite/maestro.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-usdt {
    width: clamp(62px, 15.972vw, 92px);
    height: clamp(28px, 5.556vw, 32px);
    display: block;
    background-image: url(../img/sprite/usdt.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }


  &-mir {
    width: clamp(62px, 15.972vw, 92px);
    height: clamp(28px, 5.556vw, 32px);
    display: block;
    background-image: url(../img/sprite/mir.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  
  &-sbp {
    width: clamp(62px, 15.972vw, 92px);
    height: clamp(28px, 5.556vw, 32px);
    display: block;
    background-image: url(../img/sprite/sbp.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }


  &-cirrus {
    width: clamp(62px, 15.972vw, 92px);
    height: clamp(28px, 5.556vw, 32px);
    display: block;
    background-image: url(../img/sprite/cirrus.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-cup {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../img/sprite/cup.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-fav {
    width: clamp(20px, 2.4779vw, 28px);
    height: clamp(19px, 2.3894vw, 27px);
    display: block;
    background-image: url(../img/sprite/star.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile{
      margin-top: -4px;
    }
  }

}
