// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  // --body-bg: #09172e;
  --body-bg: #0d1e61;
  --body-font-size: 16px;
  --content-width: 1130px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @include small-tablet{
    --container-offset: 15px;
  }
  // --------------- default JS variable ---------------
    --header-height: 72px;

// --------------- default scroll variable ---------------
  --scrollbar-thumb: #2d3a4a;
  --scrollbar-track:  #0d2140;
  --scrollbar-track-hover: #18040d;
  --overlay-bg: rgba(0, 0, 0, 0.5);

// --------------- default font-family variable ---------------
  --font-family: "Roboto" , sans-serif; // var(--font-family);
  --font-family2: "DIN-Condensed" , sans-serif; // var(--font-family2);
// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#fdbb2c)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#b8b8cc)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#ffc109)}; // rgba(var(--cl-e),1.0);
  --cl-f: #{HexToRGB(#64a6ff)}; // rgba(var(--cl-f),1.0);
  --cl-g: #{HexToRGB(#fafafa)}; // rgba(var(--cl-g),1.0);
  --cl-h: #{HexToRGB(#748494)}; // rgba(var(--cl-h),1.0);
// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#d0021b)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#7b96c8)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#ff0320)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#226dbf)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#b8b8cc)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#0d0f15)}; // rgba(var(--bg-h),1.0);
  --bg-i: #{HexToRGB(#0e161f)}; // rgba(var(--bg-i),1.0);
  --bg-j: #{HexToRGB(#1b283c)}; // rgba(var(--bg-j),1.0);
  --bg-k: #{HexToRGB(#31465d)}; // rgba(var(--bg-k),1.0);
// --------------- default border color color variable ---------------
  --br-a: #226dbf; // var(--br-a);
  --br-b: #090909; // var(--br-b);
  --br-c: #000; // var(--br-c);
  --br-d: #b8b8cc; // var(--br-d);
  --br-e: #fdbb2c; // var(--br-e);
  --br-f: #fff; // var(--br-f);
  --br-g: #171e27; // var(--br-g);
// --------------- default gradient color variable ---------------
--gr-a: linear-gradient(to bottom,#910011 0,#ff021f 73%,#880010 98%); // var(--gr-a);
--gr-b: linear-gradient(180deg, #77c100, #048523); // var(--gr-b);
--gr-c: linear-gradient(0deg,transparent,#fff); // var(--gr-c);
--gr-d: linear-gradient(90deg, transparent 0, transparent 50%, #000); // var(--gr-d);
--gr-e: linear-gradient(180deg, #226dbf, #04407d); // var(--gr-e);
--gr-f: linear-gradient(180deg,#226dbf,#04407d); // var(--gr-f);
--gr-g: linear-gradient(0deg,rgba(0,0,0,.5) 0,transparent); // var(--gr-g);
--gr-h: -webkit-linear-gradient(top, #fff, #b8b8cc); // var(--gr-h);
--gr-i: linear-gradient(270deg, transparent 0, transparent 572px, #09172e 652px, #09172e); // var(--gr-i);
--gr-j: linear-gradient(90deg, transparent 0, transparent 572px, #09172e 652px, #09172e); // var(--gr-j);
--gr-k: linear-gradient(180deg, #efe08c 10%, #ffd401 40%, #f5b128 60%, #ffab01); // var(--gr-k);
// -------------
}


